---
layout: compress
---
<!doctype html>
<html class="no-js" lang="{% if site.language == nil %}en{% else %}{{ site.language }}{% endif %}">
<head>
	{% include _head.html %}
</head>
<body id="top-of-page" class="{{ page.format }}">

	<script>
		window.fbAsyncInit = function() {
			FB.init({
				appId      : '1717792468482990',
				xfbml      : true,
				version    : 'v2.6'
			});
		};

		(function(d, s, id){
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>

	{% unless page.skip_boilerplate %}
	{% include _navigation.html %}
	{% endunless %}

	{% include _masthead.html %}
	{{ content }}

	{% unless page.skip_boilerplate %}
	{% include _footer.html %}
	{% endunless %}

	{% include _footer_scripts.html %}
</body>
</html>
